@{
    ViewData["Title"] = "Home Page";
}

@model IndexViewModel

<!--This will display the team name when the team is selected-->
<h1>@Model.TeamName</h1>

<table class="table">
    <tr>
        <th>First Name</th>
        <th>Middle Initial</th>
        <th>Last Name</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
        <th>Zip</th>
        <th>Phone Number</th>
    </tr>


    @foreach (var x in Model.Bowlers)
    {
        <tr>
            <td>@x.BowlerFirstName</td>
            <td>@x.BowlerMiddleInit</td>
            <td>@x.BowlerLastName</td>
            <td>@x.BowlerAddress</td>
            <td>@x.BowlerCity</td>
            <td>@x.BowlerState</td>
            <td>@x.BowlerZip</td>
            <td>@x.BowlerPhoneNumber</td>
        </tr>
    }

</table>


<!--page-info is referencing PaginationTagHelper.cs-->
<div page-info="@Model.PageNumberingInfo" page-url-teamname="@Model.TeamName" page-classes-enabled="true" page-class="btn"
     page-class-normal="btn-outline-dark" page-class-selected="btn-primary">
</div>

<!--page-classes-enabled="true" page-class="btn"
     page-class-normal="btn-outline-dark" page-class-selected="btn-primary"-->
